.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Десктоп */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
