<section id="story" class="story" itemscope itemtype="https://schema.org/Service">
    <meta itemprop="serviceType" content="Депіляція воском та шугаринг Запоріжжя">
    <meta itemprop="provider" content="Epil-story">
    <meta itemprop="areaServed" content="Запоріжжя">

    <div class="story-sticky-wrapper">
        <header class="story-header">
            <h2 class="vibe-title" itemprop="name">Ціни на депіляцію в Запоріжжі</h2>
            <div class="luxury-divider"><span></span></div>
        </header>

        <div class="story-content">
            <article class="story-card card-1" itemprop="hasOfferCatalog" itemscope
                itemtype="https://schema.org/OfferCatalog">
                <figure class="card-image">
                    <picture class="pic-safe-wrapper">
                        <source srcset="/images/optimized/man-price-large.avif 1920w, 
                                                                    /images/optimized/man-price-medium.avif 1024w, 
                                                                    /images/optimized/man-price-small.avif 480w"
                            type="image/avif" sizes="(max-width: 480px) 480px, (max-width: 1024px) 1024px, 1920px">

                        <source srcset="/images/optimized/man-price-large.webp 1920w, 
                                                                    /images/optimized/man-price-medium.webp 1024w, 
                                                                    /images/optimized/man-price-small.webp 480w"
                            type="image/webp" sizes="(max-width: 480px) 480px, (max-width: 1024px) 1024px, 1920px">

                        <img src="/images/optimized/man-price-small.webp" alt="Пример работы после процедуры"
                            loading="lazy" width="1920" height="1080"
                            style="width: 100%; height: auto; object-fit: cover;">
                    </picture>
                </figure>
                <div class="card-info">
                    <h3 itemprop="name">Чоловіча депіляція</h3>
                    <ul class="story-list">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Глибоке бікіні повністю</span>
                            <span class="price-box"><span itemprop="price" content="800">800</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Бікіні глибоке частково</span>
                            <span class="price-box"><span itemprop="price" content="650">650</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Спина повністю</span>
                            <span class="price-box"><span itemprop="price" content="600">600</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Груди</span>
                            <span class="price-box"><span itemprop="price" content="400">400</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Пахви</span>
                            <span class="price-box"><span itemprop="price" content="200">200</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Живіт</span>
                            <span class="price-box"><span itemprop="price" content="400">400</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Поперек</span>
                            <span class="price-box"><span itemprop="price" content="200">200</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Сідниці</span>
                            <span class="price-box"><span itemprop="price" content="300">300</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Корекція бороди</span>
                            <span class="price-box"><span itemprop="price" content="300">300</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Ніс/Вуха</span>
                            <span class="price-box"><span itemprop="price" content="100">100</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Міжбрівка</span>
                            <span class="price-box"><span itemprop="price" content="50">50</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                    </ul>
                </div>
            </article>

            <article class="story-card card-2" itemprop="hasOfferCatalog" itemscope
                itemtype="https://schema.org/OfferCatalog">
                <figure class="card-image">
                    <picture class="pic-safe-wrapper">
                        <source
                            srcset="/images/optimized/woman-price-large.avif 1920w, 
                                                                                        /images/optimized/woman-price-medium.avif 1024w, 
                                                                                        /images/optimized/woman-price-small.avif 480w"
                            type="image/avif" sizes="(max-width: 480px) 480px, (max-width: 1024px) 1024px, 1920px">

                        <source
                            srcset="/images/optimized/woman-price-large.webp 1920w, 
                                                                                        /images/optimized/woman-price-medium.webp 1024w, 
                                                                                        /images/optimized/woman-price-small.webp 480w"
                            type="image/webp" sizes="(max-width: 480px) 480px, (max-width: 1024px) 1024px, 1920px">

                        <img src="/images/optimized/woman-price-small.webp" alt="Пример работы после процедуры"
                            loading="lazy" width="1920" height="1080"
                            style="width: 100%; height: auto; object-fit: cover;">
                    </picture>
                </figure>
                <div class="card-info">
                    <h3 itemprop="name">Жіноча депіляція</h3>
                    <ul class="story-list">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Класичне бікіні</span>
                            <span class="price-box"><span itemprop="price" content="350">350</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Глибоке бікіні</span>
                            <span class="price-box"><span itemprop="price" content="500">500</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Ноги повністю</span>
                            <span class="price-box"><span itemprop="price" content="550">550</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Ноги до колін/бедра</span>
                            <span class="price-box"><span itemprop="price" content="350">350</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Руки повністю</span>
                            <span class="price-box"><span itemprop="price" content="400">400</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Руки до ліктя</span>
                            <span class="price-box"><span itemprop="price" content="250">250</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Пахви</span>
                            <span class="price-box"><span itemprop="price" content="150">150</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Сідниці</span>
                            <span class="price-box"><span itemprop="price" content="250">250</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Поперек</span>
                            <span class="price-box"><span itemprop="price" content="200">200</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Живіт</span>
                            <span class="price-box"><span itemprop="price" content="200">200</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Ніс</span>
                            <span class="price-box"><span itemprop="price" content="100">100</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Корекція брів</span>
                            <span class="price-box"><span itemprop="price" content="100">100</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Міжбрівка</span>
                            <span class="price-box"><span itemprop="price" content="50">50</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Вусики</span>
                            <span class="price-box"><span itemprop="price" content="150">150</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
                            <span itemprop="name">Обличчя повністю</span>
                            <span class="price-box"><span itemprop="price" content="250">250</span>
                                <meta itemprop="priceCurrency" content="UAH">грн.
                            </span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>