<section id="story" class="story">
    <div class="story-sticky-wrapper">
        <header class="story-header">
            <h2 class="vibe-title">Наші послуги та ціни</h2>
            <div class="luxury-divider">
                <span></span>
            </div>
            <div class="hero-scroll-indicator" aria-hidden="true">
                <div class="mouse"></div>
                <span>Scroll</span>
            </div>
        </header>
        <div class="story-dots" aria-hidden="true">
            <span class="dot active"></span>
            <span class="dot"></span>
        </div>
        <div class="story-content">
            <article class="story-card card-1 ">
                <figure class="card-image">
                    <picture class="pic-safe-wrapper">
                        <source srcset="./img/Тело_м.webp" type="image/webp">
                        <img src="./img/Тело_м.jpg"
                            alt="Чоловіча депіляція Запоріжжя — комфортні процедури для спини, грудей та обличчя"
                            loading="lazy" decoding="async" class="card-image-foto ">
                    </picture>
                </figure>
                <div class="card-info">
                    <h3>Чоловіки</h3>
                    <ul class="story-list">
                        <li><span>Глибоке бікіні повністю</span> <span>800 грн.</span></li>
                        <li><span>Бікіні глибоке частково</span> <span>650 грн.</span></li>
                        <li><span>Спина повністю</span><span>600 грн.</span></li>
                        <li><span>Груди</span> <span>400 грн.</span></li>
                        <li><span>Пахви</span><span>200 грн.</span></li>
                        <li><span>Живіт</span><span>400 грн.</span></li>
                        <li><span>Поперек</span><span>200 грн.</span></li>
                        <li><span>Сідниці</span> <span>300 грн.</span></li>
                        <li><span>Корекція бороди</span> <span>300 грн.</span></li>
                        <li><span>Ніс/Вуха</span><span>100 грн.</span></li>
                        <li><span>Міжбрівка</span><span>50 грн.</span></li>
                    </ul>
                </div>
            </article>

            <article class="story-card card-2">
                <figure class="card-image">
                    <picture class="pic-safe-wrapper">
                        <source srcset="./img/Story-girl.webp" type="image/webp">
                        <img src="./img/Story-girl.jpg"
                            alt="Жіноча депіляція у Запоріжжі — гладкі ніжки та зона бікіні без подразнень"
                            loading="lazy" decoding="async">
                    </picture>
                </figure>
                <div class="card-info">
                    <h3>Жінки</h3>
                    <ul class="story-list">
                        <li><span>Класичне бікіні</span><span>350 грн.</span></li>
                        <li><span>Глибоке бікіні</span><span>500 грн.</span></li>
                        <li><span>Ноги повністю</span><span>550 грн.</span></li>
                        <li><span>Ноги до колін/бедра</span><span>350 грн.</span></li>
                        <li><span>Руки повністю</span><span>400 грн.</span></li>
                        <li><span>Руки до ліктя</span><span>250 грн.</span></li>
                        <li><span>Пахви</span><span>150 грн.</span></li>
                        <li><span>Сідниці</span><span>250 грн.</span></li>
                        <li><span>Поперек</span><span>200 грн.</span></li>
                        <li><span>Живіт</span><span>200 грн.</span></li>
                        <li><span>Ніс</span><span>100 грн.</span></li>
                        <li><span>Корекція брів</span><span>100 грн.</span></li>
                        <li><span>Міжбрівка</span><span>50 грн.</span></li>
                        <li><span>Вусики</span><span>150 грн.</span></li>
                        <li><span>Обличчя повністю</span><span>250 грн.</span></li>
                    </ul>
                </div>
            </article>
        </div>

        <div class="story-bg-blobs" aria-hidden="true">
            <div class="story-bg-blob blob-1"></div>
            <div class="story-bg-blob blob-2"></div>
        </div>
    </div>
</section>