/* ---------- Фоны секций ---------- */

#about-us {
  background: url('../img/Bg-aftor.jpg') center/cover no-repeat;
}

#about-us::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 248, 244, 0.5);
  z-index: 0;
}

/* ================= About-us ================= */
#about-us .container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.text-content {
  width: 400px;
}
