html {
  /* Резервный плавный скролл */
  scroll-behavior: smooth;
  /* Отступ для всех секций, на которые ведут ссылки, 
     чтобы они не залезали под шапку */
  scroll-padding-top: 100px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff8f4;
  color: #2e2e2e;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Great Vibes', cursive;
  color: #7a4a3a;
}

section {
  scroll-margin-top: 70px;
}
