* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
}

/* Фоновый блок с изображением */
.parallax-background {
  position: absolute; /* не фиксируем */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* под контент */
  min-height: 100vh;
  z-index: -1;
}

.parallax-img {
  width: 100%;
  height: auto; /* растягиваем по ширине, сохраняя пропорции */
  min-height: 100%; /* чтобы заполняло экран */
  object-fit: cover;
  object-position: center;
}

.parallax-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(67, 37, 236, 0.038);
}
.hero-title {
  font-size: 48px;
  color: #eee5e5;
  text-align: center;
  margin-top: 25vh;
}

.hero-title-span {
  font-weight: 600;
  color: rgba(255, 228, 196, 0.744);
}
.hero-after-title {
  font-size: 24px;
  color: #eee5e5;
  text-align: center;
  margin-top: 20px;
}
/* ---------------AFTOR-------------- */
.aftor {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.aftor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
}

.author-name {
  font-weight: 600;
  font-size: 20px;
  color: #050505;
}

.author-bio {
  color: #000000;
  font-size: 16px;
  margin-top: 4px;
}
/* --------------------benefits---------- */
.benefits-title {
  padding-top: 100px;
  font-size: 32px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #000000;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.benefits-text {
  font-size: 18px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  color: #333333;
}
/* --------------------services---------- */
.services-title {
  padding-top: 100px;
  font-size: 32px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #000000;
}

.services-after-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services-text {
  font-size: 18px;
  text-align: center;
}
