.header-scrolled {
  background-color: #fff8f4; /* Непрозрачный фон */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
  height: 60px; /* Можно даже чуть уменьшить высоту при скролле */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 248, 244, 0.95);
  backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Обязательно! */
  height: 100%;
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  color: #7a4a3a;
}

/* Мобильное меню (скрыто справа) */
.hidden-menu {
  position: fixed;
  top: 0;
  left: 0; /* Ставим в ноль */
  width: 100%;
  height: 100vh;
  background: #fff8f4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  /* Скрываем его, вынося за экран вправо целиком */
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.hidden-menu.is-open {
  /* Возвращаем в центр */
  transform: translateX(0);
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
}

.mobile-menu-nav a {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}
/* Десктопная навигация (скрыта на мобилках) */
.menu-list {
  display: none;
}
.menu-list a {
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

/* Кнопка-гамбургер */
.menu-btn {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.menu-btn span {
  display: block;
  width: 25px;
  height: 2px;
  background: #7a4a3a;
  transition: 0.3s;
}

/* -------LINK--------- */
.menu-link {
  position: relative; /* Чтобы линия позиционировалась относительно ссылки */
  padding: 5px 0;
  transition: color 0.3s ease;
}

/* Создаем невидимую линию под текстом */
.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f4a08c; /* Цвет линии */

  /* Начальное состояние: линия сжата в 0 */
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right; /* Исчезает вправо */
}

/* Эффект при наведении и фокусе */
.menu-link:hover::after,
.menu-link:focus::after {
  transform: scaleX(1);
  transform-origin: left; /* Появляется слева */
}

.menu-link:hover,
.menu-link:focus {
  color: #f4a08c; /* Немного меняем цвет текста */
  outline: none; /* Убираем стандартную синюю рамку браузера */
}

/* Планшет и Десктоп */
@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu-list {
    display: flex;
    gap: 30px;
  }
  .menu-link {
    font-weight: 500;
    transition: color 0.3s;
  }
  .menu-link:hover {
    color: #f4a08c;
  }
}
