.header {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px;
  list-style: none;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 300ms ease-in;
  padding: 15px;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

