.hero {
  position: relative; /* Обязательно для позиционирования слоев */
  height: 100vh;
  background: url('../img/Bg_image.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
}

.hero .container {
  position: relative;
  z-index: 2; /* Текст на слое номер 2 — ОН БУДЕТ ПОВЕРХ МУТНОСТИ */
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #7a4a3a;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.hero p {
  font-size: 18px;
  color: #2e2e2e;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 64px;
  }
}
