html {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* ---------- Стили для контейнера ---------- */
/* #hero {
  background-image: url('../img/Bg_image.jpg');
  background-size: cover;
  background-position: center;
} */

#about-us {
  background-image: url('../img/beautiful-girl-7387544.jpg');
}

#about-us {
  background-image: url('../img/Bg-aftor.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

#about-us::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 248, 244, 0.5); /* мягкий тёплый слой */
  z-index: 0;
}

#about-us .container {
  position: relative;
  z-index: 1;
}

#services {
  background-image: url('../img/services-bg.jpg');
}

#prices {
  background-image: url('../img/prices-bg.jpg');
}

#contacts {
  background-image: url('../img/contacts-bg.jpg');
}
